version: '3.8'

services:
  xz-mqtt:
    # build: .
    image: xz-mqtt:latest
    container_name: xz-mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "8884:8884/udp"
      - "8007:8007"
    volumes:
      - ./config/mqtt.json:/app/config/mqtt.json
    environment:
      - PUBLIC_IP=your-ip
      - MQTT_PORT=1883
      - UDP_PORT=8884
      - API_PORT=8007
      - MQTT_SIGNATURE_KEY=Test # 必须包含大小写字母
      - NODE_ENV=production
    networks:
      - default

networks:
  default:
    external: true
    name: xiaozhi_default
